@import "casper-web/casper.css";

@font-face{ 
	font-family: 'WebSymbolsLigaRegular';
		src: url('websymbolsliga/websymbolsligaregular.eot');
		src: url('websymbolsliga/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
			url('websymbolsliga/websymbolsligaregular.woff') format('woff'),
			url('websymbolsliga/websymbolsligaregular.ttf') format('truetype'),
			url('websymbolsliga/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}

html { height:100%; background:#fff; }

.no-margin { margin:0!important; }
.no-padding { padding:0!important; }
.no-back { background:none!important; }
.no-border { border:0!important; }
.leftpad { padding-left:10px!important; }
.rightpad { padding-right:10px!important; }

body {
	font:62.5%/1.2 casper, 'Trebuchet MS', Helvetica, Arial, sans-serif;
	color:#333;
	background:#fff;
	min-height: 100%;
}

#out {	z-index:10;	position:relative;	margin:0 auto; padding:80px; padding-top:60px; padding-right:60px; }

p {	margin-bottom:.8em; font-size:1.5em; text-rendering: optimizeLegibility; }
.intro { font-size:2.2em; margin-bottom:.4em;}

h1 { font-family: casper_bold; }

h1 { font-family: casper, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', Helvetica, Arial, sans-serif; margin-bottom:.4em; font-size:4em; font-weight:normal; letter-spacing:-.04em; color:#1769FF; text-rendering: optimizeLegibility; }
h2 { font-family: casper, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', Helvetica, Arial, sans-serif; margin-bottom:.4em; font-size:2.2em; font-weight:normal; margin-top:1em; letter-spacing:-.03em; color:#999; text-rendering: optimizeLegibility; }
h3 { font-family: casper, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', Helvetica, Arial, sans-serif; margin-bottom:.4em; font-size:1.6em; font-weight:normal; color:#1769FF; text-rendering: optimizeLegibility; }

sup { font-size: 0.8em;	letter-spacing: 0.1em; vertical-align:super; }

a {	color:#1769FF; text-decoration:underline; }
a:visited { color:#6ca0ff; }
a:hover { color:#C20033; text-decoration:underline; }

.m-top { margin-top: 1em;}

.icon { padding:1px; padding-left:21px; display:inline-block; width: 80px; line-height:1.3em; }

.twit { color:#12adee; text-decoration:none; } .twit:visited { color:#12adee; } .twit:hover { color:#333; text-decoration:none; }
.facebook { color:#3c5998; text-decoration:none; } .facebook:visited { color:#3c5998; } .facebook:hover { color:#333; text-decoration:none; }
.vk { color:#5a7da7; text-decoration:none; } .vk:visited { color:#5a7da7; } .vk:hover { color:#333; text-decoration:none; }
.tumblr { color:#2c4762; text-decoration:none; } .tumblr:visited { color:#2c4762; } .tumblr:hover { color:#333; text-decoration:none; }
.instagram { color:#a58164; text-decoration:none; } .instagram:visited { color:#a58164; } .instagram:hover { color:#333; text-decoration:none; }
.ytube { color:#c03525; text-decoration:none; } .ytube:visited { color:#c03525; } .ytube:hover { color:#333; text-decoration:none; }
.pinterest { color:#c92923; text-decoration:none; } .pinterest:visited { color:#c92923; } .pinterest:hover { color:#333; text-decoration:none; }
.lastfm { color:#db2200; text-decoration:none; } .lastfm:visited { color:#db2200; } .lastfm:hover { color:#333; text-decoration:none; }
.soundcloud { color:#fc5f00; text-decoration:none; } .soundcloud:visited { color:#fc5f00; } .soundcloud:hover { color:#333; text-decoration:none; }
.dropbox { color:#33a0e8; text-decoration:none; } .dropbox:visited { color:#33a0e8; } .dropbox:hover { color:#333; text-decoration:none; }

/*
.posterous { background:url(http://karasov.posterous.com/images/favicon.png) 0 1px no-repeat; }
.tumblr { background:url(../img/tumblr.gif) 0 2px no-repeat; }
.twit { background:url(../img/twitter.gif) 0 2px no-repeat; }
.yafotki { background:url(../img/fotki.gif) 0 1px no-repeat; }
.flickr { background:url(../img/flickr.gif) 0 2px no-repeat; }
.yt { background:url(../img/youtube.gif) 0 2px no-repeat; }
.rt { background:url(../img/rutube.gif) 0 2px no-repeat; }
.vimeo { background:url(../img/vimeo.gif) 0 2px no-repeat; }
.imeem { background:url(../img/imeem.gif) 0 2px no-repeat; }
.lastfm { background:url(../img/lastfm.png) 0 2px no-repeat; }
.vkontakte { background:url(../img/vkontakte.gif) 0 2px no-repeat; }
.facebook { background:url(../img/facebook.png) 0 2px no-repeat; }
.habrahabr { background:url(../img/habrahabr.gif) 0 1px no-repeat; }
.lookatme { background:url(../img/lookatme.gif) 0 2px no-repeat; }
.bookmate { background:url(../img/bookmate.png) 0 2px no-repeat; }
.mywishlist { background:url(../img/mywishlist.gif) 0 1px no-repeat; }
.myshows { background:url(../img/myshows.gif) 0 0px no-repeat; }
.formspring { background:url(../img/formspring.png) 0 2px no-repeat; }
.idrive { background:url(../img/idrive.gif) 0 2px no-repeat; }
*/

.moikrug { background:url(../img/moikrug.gif) 0 7px no-repeat; width: 128px!important; }
.behance { background:url(http://a2.behance.net/img/portfolio/badges/badges/be-badge-small.png) 0 7px no-repeat; width: 95px!important; }

.mail { background:url(../img/mail.png) 0px 2px no-repeat; text-decoration:none; color:#333; }
.skype { background:url(../img/skype.gif) 0px 2px no-repeat; text-decoration:none; color:#333; line-height:1.4em;}
.mobile { background:url(../img/iphone.gif) no-repeat; text-decoration:none; color:#333; width: 120px!important; }

.c01 { float:left; margin-right: 50px; }
.c02 { float:left; }

.social { font-family: 'WebSymbolsLigaRegular'; clear:left; padding-top: 30px; color:#bbb; font-size:30px; }
.copy { font-family: casper_italic; clear:left; padding-top: 40px; color:#bbb; font-size:1.3em; }
